<div class="section1">
  <h1 class="center-text">Homepage</h1>
  <div class="center-text">
    <h3>A website for all kinds of experiments with code! Basically just some...well, random code!</h3>
  </div>
</div>
<div class="section2">
  <h1>Another section</h1>
</div>
